extends layout

block content
  h1= title
  p Velkommen til #{title}
  section 
    h2 Sunny mountains 
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad modi consequatur ipsam molestiae officia culpa odio dolore ut placeat, et voluptates cum sequi, repellendus impedit. Numquam, aperiam laudantium! Magni, atque!  
  img(src="images/mountains.png", alt="Picture of sunny mountains")
  br
  input(type="text" placeholder="Besked...")
  input(type="submit")

