doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="mainNav")
      ul 
        li 
          a(href="/") home 
        li 
          a(href="/about") about
    block content
    footer(class="footer")
      h3 copyright stuff2023 
